*.iml
*.gradle/
/local.properties
*.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.codecc/
/build.yml
tuicore
tuiofflinepush
TUIComponent/TUICallKit/tuicallkit
TUIComponent/TUICallKit/tuicallengine
TUIComponent/TUIPusher/tuipusher
TUIComponent/TUIPlayer/tuiplayer
TUIWidget/TUIBeauty/tuibeauty
TUIWidget/TUIBarrage/tuibarrage
TUIWidget/TUIAudioEffect/tuiaudioeffect
TUIWidget/TUIGift/tuigift